@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a href="/Currency/Index/">here</a> to view the latest currency exchange rates</p>
    <p>Navigate to the currency conversion <a href="/Currency/Convert/">Calculator</a></p>
</div>
